@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Raleway:400,400i&display=swap");
:root {
  --clr-1: #f25c00;
  --clr-2: #ec4559;
  --clr-3: #bf4686;
  --clr-4: #41537f;
  --clr-5: #2f4858;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--clr-1)), to(var(--clr-2)));
  background: linear-gradient(var(--clr-1), var(--clr-2));
  min-height: 100vh;
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

.intro {
  font-size: 2rem;
  display: -ms-grid;
  display: grid;
  grid: "hello hello" 75vh "my-name-is kevin" 150vh / -webkit-max-content 1fr;
  grid: "hello hello" 75vh "my-name-is kevin" 150vh / max-content 1fr;
  margin-bottom: 60vh;
  grid-gap: 15px;
}

.intro-1 {
  grid-area: hello;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: -webkit-sticky;
  position: sticky;
  top: 2em;
  margin-bottom: 1.5em;
}

.intro-2 {
  grid-area: my-name-is;
  font-weight: 900;
  font-style: italic;
  position: -webkit-sticky;
  position: sticky;
  top: 3.5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.intro-3 {
  grid-area: kevin;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  position: -webkit-sticky;
  position: sticky;
  top: 2em;
  font-weight: 900;
  font-style: italic;
}

.css {
  text-align: center;
  margin-bottom: 60vh;
}

.css-1 {
  margin-bottom: 60vh;
  font-style: italic;
  text-align: center;
}

.youtube {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  grid: "text thumbnails" 1fr / 1fr 1fr;
  margin-bottom: 50vh;
}

.youtube p {
  position: -webkit-sticky;
  position: sticky;
  top: 20vh;
  grid-area: text;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.thumbnails {
  grid-area: thumbnails;
  margin-top: 60vh;
  background: var(--clr-5);
  padding: .3em;
  position: relative;
}

.thumbnails img {
  z-index: 3;
  position: relative;
}

.thumbnails::after {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--clr-5)), color-stop(94%, transparent));
  background: linear-gradient(var(--clr-5) calc(100% - 5em), transparent 94%);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.surprise {
  position: -webkit-sticky;
  position: sticky;
  bottom: 100px;
  color: white;
  margin-top: 3em;
  font-weight: 900;
}

.a-bit-more {
  background: center center no-repeat url("../img/9.jpg");
  background-size: contain;
  padding: 2em;
  font-size: 2rem;
  height: 200vh;
  position: relative;
}

.a-bit-more p {
  position: relative;
  z-index: 2;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 2em;
}

.a-bit-more::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, var(--clr-4)), color-stop(transparent), color-stop(85%, white));
  background: linear-gradient(var(--clr-4) 20%, transparent, white 85%);
}

.the-end {
  font-size: 5rem;
  background: white;
  text-align: center;
  padding: 25vh 0 50vh;
}
/*# sourceMappingURL=main.css.map */